<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">        

    
    <title>The Hot Wheel Database</title>

  </head>
  <body>
    <div class="topbar">
      <div class="topbar-wrapper">
        <div class="topbar-left">
          <span class="topbar-title">The Hot Wheel Database</span>
        </div>
        <div class="topbar-right">
          <div class="topbar-icons">
            {% if current_user.is_authenticated %}
            <div class="topbar-icon notifications-icon">
              <span class="material-symbols-outlined">notifications</span>
              <div class="notifications-badge">2</div>
            </div>
            <div class="topbar-icon">
              <span class="material-symbols-outlined">settings</span>
            </div>
            <div class="topbar-icon">
              <img class="avatar-image" src="{{current_user.image}}" >
            </div>
            <a class="topbar-auth" href="{{ url_for('auth.logout') }}">Logout</a>
            {% else %}
            <a class="topbar-auth" href="{{ url_for('auth.login') }}">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="container-wrapper">
      <div class="container">
        {% block content %}
        {% endblock %}        
      </div>
    </div>

</html>