{% extends "base.html" %}


{% block head %}
<script src="{{ url_for('static', filename='users.js') }}"></script>
{% endblock %}

{% block content %}
<script>
  users_url = "{{ url_for('api.users', page_size='PAGESIZE', page_number='PAGENUMBER', sort_order='SORTORDER', sort_direction='SORTDIRECTION', search_phrase='SEARCHPHRASE') }}"
</script>

  <div class="container b-10">
    <nav class="nav align-items-baseline mt-4 mb-3 justify-content-between">
      <h1>Users</h1>
      <form class="d-flex" role="search">
        <input id="search_phrase" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button id="search_button" class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </nav>
  <table id="table" class="sortable users table table-hover">
    <thead>
      <tr>
        <th class="sortable sorted" sort-direction="asc" sort-order="id">ID<span/></span></th>
        <th class="p-0 m-0"></th>
        <th class="sortable" sort-order="name" >Name<span/></span></th>
        <th class="sortable" sort-order="email" >Email<span/></span></th>
        <th class="sortable" sort-order="active" >Active<span/></span></th>
        <th class="sortable" sort-order="banned" >Banned<span/></span></th>
        <th class="sortable" sort-order="last_login" >Last Login<span/></span></th>
        <th class="sortable" sort-order="last_activity" >Last Activity<span/></span></th>
      </tr>
    </thead>
    <tbody>      
    </tbody>
  </table>
  <nav class="nav align-items-center gap-1">
    <ul class="pagination">
    </ul>
    <ul class="displaying">
      <span>...</span>
    </ul>
    <ul class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        5
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" data-page_size="5" href="#" >5</a></li>
        <li><a class="dropdown-item" data-page_size="10" href="#">10</a></li>
        <li><a class="dropdown-item" data-page_size="25" href="#">25</a></li>
      </ul>
      <span>users per page</span>
    </ul>        
  </nav>
</div>
{% endblock %}