{% extends "base.html" %}

{% block content %}
<script>
  var csrf_token = "{{ csrf_token() }}";

  $(document).ready(function() {

    $('th.sortable').on('click', function (event) {
          event.preventDefault();

          sort_order = $(this).attr('sort-order')
          sort_direction = "{{ params.sort_direction }}"
          if ($(this).is(".sorted")) {
            sort_direction = $(this).attr('sort-direction')
            sort_direction = sort_direction == "asc" ? "desc" : "asc"
          }
          url = "{{ url_for('users.list', page_size=params.page_size, page_number=pages.prev, sort_order='SORTORDER', sort_direction='SORTDIRECTION', search_phrase=params.search_phrase) | safe}}"
          url = url.replace("SORTORDER", sort_order)
          url = url.replace("SORTDIRECTION", sort_direction)
          window.location.href = url;
      });

    $('#search_phrase').on('search', function (event) {
        event.preventDefault();
        search_phrase = $('#search_phrase').val();        
        console.log(search_phrase)
        if (search_phrase != "{{ params.search_phrase }}") {
          url = "{{ url_for('users.list', page_size=params.page_size, page_number=pages.prev, sort_order=params.sort_order, sort_direction=params.sort_direction, search_phrase='SEARCHPHRASE') | safe}}"
          url = url.replace("SEARCHPHRASE", search_phrase)
          window.location.href = url;
        }
    });

    $('button#search_button').on('click', function (event) {
        event.preventDefault();
        search_phrase = $('#search_phrase').val();        
        console.log(search_phrase)
        if (search_phrase != "{{ params.search_phrase }}") {
          url = "{{ url_for('users.list', page_size=params.page_size, page_number=pages.prev, sort_order=params.sort_order, sort_direction=params.sort_direction, search_phrase='SEARCHPHRASE') | safe}}"
          url = url.replace("SEARCHPHRASE", search_phrase)
          window.location.href = url;
        }

    });

    $('a.dropdown-item').on('click', function (event) {

      page_size = $(this).attr("data-page_size");
      if (page_size != "{{ params.page_size }}") {
        page_number = 1
        url = "{{ url_for('users.list', page_size='PAGESIZE', page_number='PAGENUMBER', sort_order=params.sort_order, sort_direction=params.sort_direction, search_phrase=search_phrase) | safe}}"
        url = url.replace("PAGESIZE", page_size)
        url = url.replace("PAGENUMBER", page_number)
        window.location.href = url;
      }

    });
  })
</script>

<div class="container b-10">

  <nav class="nav align-items-baseline mt-4 mb-3 justify-content-between">
    <h1>Users</h1>
    <form class="d-flex" role="search">
      <input id="search_phrase" class="form-control me-2" type="search" placeholder="Search" value="{{ params.search_phrase }}">
      <button id="search_button" class="btn btn-outline-success" type="submit" >Search</button>
    </form>
  </nav>
  <table id="table" class="sortable users table table-hover">
    <thead>
      <tr>
        <th class="sortable {% if params.sort_order == 'id' %} sorted {% endif %}" sort-direction="{{ params.sort_direction}}" sort-order="id">ID<span></span></th>
        <th></th>
        <th class="sortable {% if params.sort_order == 'name' %} sorted {% endif %}"  sort-direction="{{ params.sort_direction}}"sort-order="name" >  Name<span></span></th>
        <th class="sortable {% if params.sort_order == 'email' %} sorted {% endif %}"  sort-direction="{{ params.sort_direction}}"sort-order="email" >Email<span></span></th>
        <th class="sortable {% if params.sort_order == 'active' %} sorted {% endif %}"  sort-direction="{{ params.sort_direction}}"sort-order="active" >Active<span></span></th>
        <th class="sortable {% if params.sort_order == 'banned' %} sorted {% endif %}"  sort-direction="{{ params.sort_direction}}"sort-order="banned" >Banned<span></span></th>
        <th class="sortable {% if params.sort_order == 'last_login' %} sorted {% endif %}"  sort-direction="{{ params.sort_direction}}"sort-order="last_login" >Last Login<span></span></th>
        <th class="sortable {% if params.sort_order == 'last_activity' %} sorted {% endif %}"  sort-direction="{{ params.sort_direction}}"sort-order="last_activity" >Last Activity<span></span></th>
      </tr>
    </thead>
    <tbody>   
      {% for user in users.list %}
        <tr class="user">
          <td>{{ user.id }}</td>
          <td><img src="{{ user.image }}" class="object-fit-cover rounded-circle" width="26" height="26"></td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.active }}</td>
          <td>{{ user.banned }}</td>
          <td>{{ user.last_login }}</td>
          <td>{{ user.last_activity }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav class="nav align-items-center gap-1">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="{{ url_for('users.list', page_size=params.page_size, page_number=pages.prev, sort_order=params.sort_order, sort_direction=params.sort_direction, search_phrase=params.search_phrase) }}">&lt;</a></li>
      {% for page in pages.list %}
        <li class="page-item {% if page == pages.curr %}active{% endif %}"><a class="page-link" href="{{ url_for('users.list', page_size=params.page_size, page_number=page, sort_order=params.sort_order, sort_direction=params.sort_direction, search_phrase=params.search_phrase) }}">{{ page }}</a></li>   
      {% endfor %}
      <li class="page-item"><a class="page-link" href="{{ url_for('users.list', page_size=params.page_size, page_number=pages.next, sort_order=params.sort_order, sort_direction=params.sort_direction, search_phrase=params.search_phrase) }}">&gt;</a></li>
    </ul>
    <ul class="displaying">
      <span>Showing {{ users.list |length }} of <strong> {{ users.count }} total users</strong></span>
    </ul>
    <ul class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        {{ params.page_size }}
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item {% if params.page_size == 5 %}active{% endif %}" data-page_size="5" href="#" >5</a></li>
        {% if users.count > 5 %}
        <li><a class="dropdown-item {% if params.page_size == 10 %}active{% endif %}" data-page_size="10" href="#">10</a></li>
        {% endif %}
        {% if users.count > 10 %}
        <li><a class="dropdown-item {% if params.page_size == 25 %}active{% endif %}" data-page_size="25" href="#">25</a></li>
        {% endif %}
      </ul>
      <span>users per page</span>
    </ul>        
  </nav>
</div>

{% endblock %}